body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: azure;
}

.container{
    display: flex;
    flex-wrap: wrap;
    background-color: azure;
    box-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.5);
    border: none;
    
}

.grid{    
    background-color: white;
    border: 0.2px solid black;
    border-radius: 15%;
    box-sizing: border-box;
}

.colorGrid{
    background-color: black;
}

#size{
    margin: 100px;
}